* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 200px;
    background-color: #f0f0f0
}

.post{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    margin-top: 100%;
    padding: 10px;
    background-color: grey;

}