* {
    margin: 0;
    padding: 0;
}

/* to center big circle */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.clockContainer {
    border-radius: 50%;
    height:300px;
    width:300px;
    border:10px solid rgba(255, 255, 255, 0.879);
    
    /*to center small circle*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.clockContainer h4 {
    position: absolute;
    top: 40%;;
    color: white;
}

.clock {
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    border: 5px solid violet;
    /* to center the clock hands */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
}

.handH {
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: yellow;
    border-radius: 8px;
     transform-origin: bottom center;
     z-index: 2;
}
.handM {
    position: absolute;
    width: 6px;
    height: 90px;
    background-color: blue;
    border-radius: 8px;
    transform-origin: bottom center;
    z-index: 2; 
}
.handS {
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: red;
    border-radius: 8px;
    transform-origin: bottom center;
    z-index: 2;
}