body {
    margin:0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: yellowgreen;
}

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
    display: flex;
}

.btn {
    padding:10px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}
.delBtn {
    padding:5px;
    border-radius: 10px;
    background-color: red;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
    border: none;
}

.container2 {
    display: flex;
    margin-top: 20px;
}

.editBtn {
    padding:5px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
    border: none;
}