body {
    margin:0;
}

.btn {
    padding:10px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0 0 5px #000;
}

