body {
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    gap: 10px;
}